extends layout

block content
  form(method='POST', action=`/todos/${todo.id}`)
    .row
      .form-group.col
        label(for='label') Label
        input#label.form-control(
          type='text',
          name='label',
          required,
          value=todo.label
        )
      .form-group.col
        label(for='due') Due
        input#due.form-control(
          type='date',
          name='due',
          min=today,
          value=todo.due
        )
    .row
      .form-group.col.justify-content-end.d-flex
        .btn-group
          a.btn.btn-secondary(href='/') Cancel
          input.btn.btn-primary(type='submit', value='Save')
