extends layout
include icons

block content
  form(method='POST', action='/todos')
    .input-group.my-3
      input.form-control(type='text', name='label', required)
      .input-group-append
        input.btn.btn-primary(type='submit', value='Add')

  ul.list-group
    each item in todoItems
      .list-group-item.d-flex.align-items-center(
        data-controller='todo-list-item',
        data-todo-list-item-id=item.id
      )
        .flex-grow-1.mb-0= item.label
          if item.due
            a.badge.badge-secondary.mx-1(
              href=`/?due=${item.due}`,
              data-controller='date-format',
              data-date-format-value=item.due
            )
        .btn-group.btn-group-sm
          a.btn.btn-info(href=`/todos/${item.id}`)
            +icon('pencil')
          a.btn.btn-success(href='#', data-action='todo-list-item#markDone')
            +icon('check2')
